body {
    font-family: 'Helvetica', Arial, sans-serif;
    color: #473144;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 2.5rem;
    text-align: center;
    color: #AF1B3F;
    margin: 20px 0;
}

nav {
    background-color: #EFC69B;
    padding: 10px 0;
    border-top: 1px solid #473144;
    border-bottom: 1px solid #473144;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #AF1B3F;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
}

.book-reviews {
    display: grid;
    gap: 20px;
}

.book-review {
    display: grid;
    grid-template-columns: 150px 1fr;
    border-bottom: 1px solid #EFC69B;
    padding-bottom: 20px;
}

.book-info {
    font-size: 0.9rem;
    color: #473144;
    text-align: right; 
}

.book-info p {
    margin: 5px 0;
}

.book-details h2 {
    color: #AF1B3F;
    font-family: 'Lora', serif;
    margin-top: 0;
}

.book-details img {
    max-width: 150px;
    margin: 0 auto; 
    display: block; 
}

.book-details p {
    font-size: 1rem;
}

.book-details a {
    color: #AF1B3F;
    text-decoration: none;
}

.book-details a:hover {
    text-decoration: underline;
}

.filters {
    background-color: #f9f9f9;
    padding: 20px;
    font-size: 1rem;
    color: #473144;
    border-color: #EFC69B;
}

.skiptocontent a {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #AF1B3F;
    color: white;
    padding: 10px;
}

.skiptocontent a:focus {
    top: 0;
}
